.chat-layout {
  display: flex;
  flex-direction: column;
  height: calc( 100vh - 55px ); ;
}

.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  padding: 2rem;

  @media screen and (max-width: 425px){
    padding: 0rem;
    
  }
}

.message-container {
  display: flex;
  // justify-content: center; 
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px 20px ;
}

.message-header {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 15px;
}

.content {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.message-container:has(.message.received) {
  justify-content: flex-start;
  .content {
    background-color: #E8E8E8;
  }
}

.message-container:has(.message.sent) {
  justify-content: flex-end;
  .content {
    background-color: #DCF8C6;
  }
}

.input-container {
  display: flex;
  padding: 10px;
}

input[type='text'] {
  flex: 1;
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}