<div class="chat-layout">
  <h3 style="margin: 15px auto;">Bienvenue dans votre espace chat !</h3>
  <p *ngIf="currentUser$.role === 'AGENT'" style="padding-left: 15px; font-size: 16px;" [routerLink]="['/agent']">⬅️ Retour à la liste des clients </p>
  <div class="chat-container" #messageContainer>
    <div class="message-container" *ngFor="let message of messages">
      <div class="message" [ngClass]="{'sent': message.sourceUser.id === currentUser$.id, 'received': message.sourceUser.id !== currentUser$.id}">
        <div class="message-header">{{ message.sourceUser.id === currentUser$.id ? 'Vous' : message.sourceUser.username }}</div>
        <div class="content">{{ message.content }}</div>
      </div>
    </div>    
  </div>
  <div class="input-container">
    <input type="text" [(ngModel)]="newMessage" placeholder="Ecrivez votre message ici..." (keyup.enter)="sendMessage()">
    <button (click)="sendMessage()">Envoyer</button>
  </div>
</div>



